/*
/*/

!.gitignore
!.gitattributes
!/Assets/
!/ProjectSettings/

# Not included (for now) for size
/Assets/Plugins/PolygonPrototype/
!/Assets/Plugins/PolygonPrototye

# Not included because editor or temporary
/Assets/Plugins/tripolygon*
/Assets/Plugins/ParrelSync*
/Assets/Plugins/TemporaryThirdParty*

/Assets/Learning Stuff*
